<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Not Found</title>
</head>
<style>
    header {
        height: 100px;
        text-align: center;
        background-color: dodgerblue;
        padding-top: 30px;
        font-size: 40px;
    }
    .link {
        padding-top: 20px;
    }
</style>
<body>
<header>Harry's Hamburger Heaven</header>
<br>
<div><b>No products to display</b></div>
<div class="link"><a href="/home">Back to Form</a></div>

</body>
</html>