body {
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}
header {
    height: 130px;
    background-color: #ff5722;
}
#logo {
    width: 112px;
    height: 112px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
#mainTitle {
    font-size: 30px;
    font-family: "Arial Black";
    color: #eeeeee;
    text-align: center;
    position: relative;
    /*top: 40px;*/
    /*right: 66px;*/
    height: 100%;
    align-content: center;
}
#mainTable, tr, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}
#mainArea {
    position: relative;
    margin-left: 30%;
    color: #2d4059;
}
footer {
    height: 40px;
    background-color: #2d4059;
    font-size: 15px;
    color: #eeeeee;
}
#footerContent {
    padding-left: 20px;
}
a {
    color: #ff5722;
}
#about {
    display: flex;
    justify-content: center;
    color: #ff5722;
}
#aboutTitle {
    display: flex;
    justify-content: center;
}
#aboutDesc {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}